/* SignIn.css */


.signin-header {
  background-color: white;
  padding: 16px;
}
.text-gray-600{
  font-size: x-large;
}

.signin-container {
  max-width: 400px;
  margin: auto;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 1.25em; /* Slightly larger font size */
  min-height: 400px; /* Minimum height for the container */
  position: absolute;
  top: 20%;
  left: 5%;
}
.signin-btn{
  background-color: black;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .signin-container {
    padding: 24px;
    font-size: 1em; /* Adjust font size for mobile */
    min-height: 300px; /* Adjust height for mobile */
  }

  .signin-header {
    padding: 12px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 150px; /* Adjust logo size for mobile */
    height: auto;
  }
}

/* Styles for smaller mobile devices */
@media (max-width: 480px) {
  .signin-container {
    padding: 16px;
    font-size: 0.875em; /* Smaller font size for very small screens */
    min-height: 250px; /* Further adjust height for very small screens */
  }

  .signin-header {
    padding: 8px;
  }

  img {
    width: 120px; /* Further adjust logo size for very small screens */
  }

  .signin-input {
    font-size: 0.875em; /* Smaller font size for inputs */
  }

  .signin-button {
    font-size: 0.875em; /* Smaller font size for buttons */
  }
}
